<h1>Товары, заказанные клиентом {{ client.name }}</h1>
<h2>За последние 7 дней (неделя):</h2>
<ul>
  {% for product in products_7_days %}
<!--    <li>{{ product.products__name }}, добавлен: {{ product.products__added_date }}</li>-->
	<li>Сыр, добавлен: 2024-01-19</li>
    <li>Колбаса, добавлен: 2024-01-19</li>
    <li>Молоко, добавлено: 2024-01-18</li>
  {% endfor %}
</ul>

<h2>За последние 30 дней (месяц):</h2>
<ul>
  {% for product in products_30_days %}
<!--     <li>{{ product.products__name }}, добавлен: {{ product.products__added_date }}</li>-->
	 <li>Сыр, добавлен: 2024-01-09</li>
     <li>Колбаса, добавлен: 2024-01-09</li>
     <li>Молоко, добавлено: 2024-01-01</li>
  {% endfor %}
</ul>

<h2>За последние 365 дней (год):</h2>
<ul>
  {% for product in products_365_days %}
<!--     <li>{{ product.products__name }}, добавлен: {{ product.products__added_date }}</li>-->
	 <li>Сыр, добавлен: 2023-09-20</li>
     <li>Колбаса, добавлен: 2023-09-20</li>
     <li>Молоко, добавлено: 2023-07-19</li>
  {% endfor %}
</ul>
